.contact-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:8rem;
    padding-top: 5rem;
    font-size: 40px;
}

div .contact-main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45rem;
    gap: 5.3rem;
}

.map{
    display: flex;  
    border: 4px black solid;
}

.contact-info{
    display: flex;
    margin-right: 5rem;
    font-family: sans-serif;
}

.contact-list{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 2rem;
    font-weight: bold;
}

.contact-list li {
    display: flex;
    align-items: center;
    color: black;
    gap: 1rem;
    font-size: x-large;
}

.contact-list a {
    font-weight: bold;
    color: black;
    transition: color 0.3s;
}

.contact-list a:hover{
    color: #868585;
    transition: color 0.2s;
}