header{
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
    width: 100%;
    max-height: 12rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #212121;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.25);
}

header nav#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 2rem;
}

header nav#navbar .nav-brand{
    display: flex;
    align-items: center;
    color: #fff;
    gap: 1rem;
    font-size: 10px;
}

header nav#navbar ul.nav-list{
    display: flex;
    align-items: center;
    
    list-style: none;
    gap: 1.5rem;
}

header nav#navbar ul.nav-list li button{
    color: white;
    font-size: 1.3rem;
    font-family: "Merriweather", serif;
    font-weight: 600;
    transition: color 0.3s;
    background: none;
    cursor: pointer;
   
    border: none;
}

header nav#navbar ul.nav-list li button:hover{
    color: #ccc;
    transition: color 0.2s;
    
}

.logoImg{
    max-width: 130px;
}