header{
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #17333C;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

header nav#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 2rem;
}

header nav#navbar .nav-brand{
    display: flex;
    align-items: center;
    color: #fff;
    gap: 1rem;
    font-size: 11px;
}

header nav#navbar ul.nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1.5rem;
}

header nav#navbar ul.nav-list li a {
    color: #B1997B;
    font-size: 1.25rem;
    font-family: "Times", serif;
    font-weight: 600;
    transition: color 0.3s;
    background: none;
    cursor: pointer;
    border: none;
}


header nav#navbar ul.nav-list li a:hover {
    color: #B4814A !important; 
    transition: color 0.2s;
}

.logoImg {
    max-width: 95px;
}