* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #D9D9D9 ;
  color: #000;
}

a {
  text-decoration: none;
  color: #B4814A;
}

:root {
  font-family: "Merriweather", serif;
  
  --global-primary-color: #B1997B; 
  --global-secondary-color: #B4814A;
  --bg-color: #17333C;

  font-weight: 400;
  font-style: normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
